.rooms {
    margin: 160px auto 0px;
    max-width: calc(1200px + 16px*2);
    padding: 0 16px;
    height: 1176px;
}
.about__rooms {
    margin: 0 auto;
    text-align: center;
    max-width: 588px;

}
.about__rooms__tittle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #192252;
}
.about__rooms__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #848FAC;
    margin: 24px 0 32px;
}
.about__rooms__button {
    width: 165px;
    height: 51px;
    background-color: #0E1734;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-bottom: 88px;
}
.rooms__offers {
    display: flex;
    justify-content: space-between;
}
.room__offer {
    max-width: 384px;
    text-align: start;
}
.room__offer__tittle {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    margin: 32px 0 6px;
}
.room__offer__about {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #848FAC;
    margin-bottom: 32px;
}
.learn__more {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #424F7B;
    margin-right: 14px;
}